<div class="container">
    <h2 class="display-6 text-center mb-3 mt-3">Buscador de Gifs</h2>

    <input 
        type="text" 
        class="form-control input-form"
        placeholder="Buscar gifs."
        (keyup.enter)="buscar()"
        #txtBuscar>

    <app-sidebar (data)="reciveData($event)"></app-sidebar>
</div>

<app-resultados [gifs]="gifs"></app-resultados>

<div cass="loading" *ngIf="load">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>

